:root {
  --font-family: 'Montserrat', sans-serif;
  --font-family2: Arial, sans-serif;
  --font-family3: 'Roboto', Arial, sans-serif;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extra-bold: 800;
}
//'Roboto',
//'Open Sans',
