/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Section settings */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.section {
	position: relative;
	z-index: 0;
}
.container-cs{
	max-width: 1320px;
	padding-right: 40px;
	padding-left: 40px;
	margin-right: auto;
	margin-left: auto;
	&.sp-1{
		padding-left: 40px;
		padding-right: 40px;
	}
	&.sp-2{
		padding-left: 100px;
		padding-right: 100px;
	}
	&.md{
		max-width: 1396px;
	}
	&.xl{
		max-width: 1445px;
	}
	&.full{
		max-width: 100%;
	}

}
.row{
	&.row-5{
		margin-right: -5px;
		margin-left: -5px;
		> [class*=col]{
			padding-right: 5px;
			padding-left: 5px;
		}
	}
	&.row-16{
		margin-right: -8px;
		margin-left: -8px;
		> [class*=col]{
			padding-right: 8px;
			padding-left: 8px;
		}
	}
	&.row-17{
		margin-right: -8.5px;
		margin-left: -8.5px;
		> [class*=col]{
			padding-right: 8.5px;
			padding-left: 8.5px;
		}
	}
	&.row-20{
		margin-right: -10px;
		margin-left: -10px;
		> [class*=col]{
			padding-right: 10px;
			padding-left: 10px;
		}
	}
	&.row-24{
		margin-right: -12px;
		margin-left: -12px;
		> [class*=col]{
			padding-right: 12px;
			padding-left: 12px;
		}
	}
	&.row-27{
		margin-right: -13.5px;
		margin-left: -13.5px;
		> [class*=col]{
			padding-right: 13.5px;
			padding-left: 13.5px;
		}
	}
	&.row-34{
		margin-right: -17px;
		margin-left: -17px;
		> [class*=col]{
			padding-right: 17px;
			padding-left: 17px;
		}
	}
	&.row-40{
		margin-right: -20px;
		margin-left: -20px;
		> [class*=col]{
			padding-right: 20px;
			padding-left: 20px;
		}
	}
	&.row-100{
		margin-right: -50px;
		margin-left: -50px;
		> [class*=col]{
			padding-right: 50px;
			padding-left: 50px;
		}
	}
	&.mb-20{
		margin-bottom: -20px;
		[class*=col-]{
			margin-bottom: 20px;
		}
	}
}

.d-none{
	display: none;
}

.z-in-1{
	position: relative;
	z-index: 1;
}

/*==========  MEDIA QUERIES  ==========*/

// @media (max-width: 1368px){}

@media (max-width: 1199px){
	.container-cs{
		&.sp-1{
			padding-left: 25px;
			padding-right: 25px;
		}
	}
	.row{
		&.row-20-xl{
			margin-right: -10px;
			margin-left: -10px;
			> [class*=col]{
				padding-right: 10px;
				padding-left: 10px;
			}
		}
		&.row-25-xl{
			margin-right: -12px;
			margin-left: -12px;
			> [class*=col]{
				padding-right: 12px;
				padding-left: 12px;
			}
		}
	}
	.d-block-xl{
		display: block!important;
	}
	.d-none-xl{
		display: none!important;
	}
}

@media (max-width: 991px){
	.d-block-xl1{
		display: block!important;
	}
	.d-none-xl1{
		display: none!important;
	}
}

@media (max-width: 768px){
	.container-cs{
		&.sp-1 {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.row{
		&.row-5-md{
			margin-right: -5px;
			margin-left: -5px;
			> [class*=col]{
				padding-right: 5px;
				padding-left: 5px;
			}
		}
	}
	.d-none-md{
		display: none!important;
	}
	.d-block-md{
		display: block!important;
	}
	.d-in-block-md{
		display: inline-block!important;
	}
	.d-in-flex-md{
		display: inline-flex!important;
	}
}

@media (max-width: 575px){
	.row{
		&.row-10-sm{
			margin-right: -5px;
			margin-left: -5px;
			> [class*=col]{
				padding-right: 5px;
				padding-left: 5px;
			}
		}
		&.mb-10-sm{
			margin-bottom: -10px;
			[class*=col-]{
				margin-bottom: 10px;
			}
		}
	}
	.d-none-sm{
		display: none!important;
	}
	.d-block-sm{
		display: block!important;
	}
}
