/*==========  Header Style  ==========*/
.header{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 4;
  background-color: #fff;
  &-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    padding: 15px 0;
    transition: all .24s ease-out;
    .logo{
      display: block;
      width: 144px;
      flex: 0 0 144px;
      line-height: 0;
      img{
        width: 100%;
      }
    }
    .nav{
      margin-right: 15px;
      margin-left: 15px;
      .menu{
        > li{
          display: inline-block;
          margin-right: 32px;
          position: relative;
          z-index: 1;
          &.with-sub-menu{
            padding-right: 24px;
            .menu-toggle{
              display: block;
              width: 20px;
              height: 20px;
              position: absolute;
              top: 50%;
              right: 0px;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              transition: all .34s ease-out;
              .icon-arrow{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
          &:last-child{
            margin-right: 0;
          }
          > a{
            text-decoration: none;
            font-size: 24px;
            color: #000000;
            &:after{
              display: block;
              content: attr(title);
              font-weight: bold;
              height: 0;
              overflow: hidden;
              visibility: hidden;
            }
          }
        }
      }
      .menu-sub{
        background-color: #fff;
        position: absolute;
        top: -8px;
        left: -16px;
        right: -16px;
        padding: 65px 16px 16px 16px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
        z-index: -1;
        transform: translateY(12px);
        opacity: 0;
        visibility: hidden;
        transition: all .34s ease-out;
        li{
          line-height: 1em;
          margin-bottom: 8px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        a{
          font-size: 16px;
          text-decoration: none;
          color: #000000;
          display: block;
        }
        ul{
          padding-top: 8px;
          padding-left: 24px;
        }
      }
    }
    .language{
      position: relative;
      font-size: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-left: 15px;
      z-index: 4;
      &-inner{
        position: relative;
        padding: 0 40px 0 16px;
        font-weight: 700;
        color: $colorMain;
        cursor: default;
        white-space: nowrap;
      }
      .icon-arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        transition: all .34s ease-out;
      }
      ul{
        position: absolute;
        top: 0;
        left: 0;
        padding: 52px 16px 16px 16px;
        min-width: 100%;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
        background-color: #fff;
        z-index: -1;
        transform: translateY(12px);
        opacity: 0;
        visibility: hidden;
        transition: all .34s ease-out;
        li{
          margin-bottom: 16px;
          line-height: 1em;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      a{
        text-decoration: none;
        display: block;
        color: #000000;
      }
    }
    .language-mob{
      margin-bottom: 40px;
      text-align: center;
      display: none;
      li{
        display: inline-block;
        margin-right: 38px;
        &:last-child{
          margin-right: 0;
        }
        a{
          text-decoration: none;
          text-transform: uppercase;
          font-size: 16px;
          color: inherit;
        }
        &.active{
          a{
            font-weight: 700;
            color: $colorMain;
          }
        }
      }
    }
    .search{
      position: relative;
      z-index: 8;
      &-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(1,1,1,0);
        display: none;
      }
      &-btn{
        line-height: 0;
        padding: 0;
        position: relative;
        &:after{
          content: '';
          display: block;
          width: 0;
          height: 100%;
          background-color: $colorMain;
          position: absolute;
          top: 0;
          right: 0;
          z-index: -1;
          transition: all .14s ease-out;
          transition-delay: .58s;
        }
        .icon{
          display: block;
          width: 44px;
          line-height: 0;
          img,
          svg{
            width: 100%;
            height: 100%;
          }
        }
        .color-fill{
          fill: #3D71BA;
          transition: all .14s ease-out;
          transition-delay: .58s;
        }
      }
      &-input-wrapper{
        position: absolute;
        right: 100%;
        top: 0;
        height: 100%;
        //width: 0px;
        //overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: all .58s ease-out;
        transition-delay: .14s;
      }
      &-input{
        height: 100%;
        width: 100%;
      }
      &-autocomplete{
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        right: 0;
        padding: 20px 16px 46px 16px;
        background-color: #fff;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.15));
        width: 100%;
        display: none;
        .scroll-wrapper{
          max-height: 360px;
          overflow-y: auto;
          padding-right: 20px;
        }
        .title{
          margin-bottom: 8px;
        }
        .item{
          margin-bottom: 24px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        ul{
          padding-left: 8px;
          font-size: 16px;
          li{
            margin-bottom: 8px;
            &:last-child{
              margin-bottom: 0;
            }
          }
          a{
            text-decoration: none;
            color: inherit;
          }
        }
        .tags{
          padding-left: 8px;
          display: flex;
          flex-wrap: wrap;
          margin-bottom: -5px;
          .btn{
            margin-right: 5px;
            margin-bottom: 5px;
          }
        }
      }
      &:not(.active){
        .search-input-wrapper{
          width: 0!important;
        }
      }
      &.active{
        .search-input-wrapper{
          opacity: 1;
          visibility: visible;
          transition: all .58s ease-out;
          transition-delay: 0s;
          width: 1150px;
        }
        .search-btn{
          &:after{
            width: 100%;
            transition-delay: 0s;
          }
          .color-fill{
            fill: #fff;
            transition-delay: 0s;
          }
        }
        .search-layer{
          display: block;
          background-color: rgba(1,1,1,0);
        }
      }
    }
  }
  &-search-mobile{
    display: none;
  }
  &-hamburger{
    line-height: 0;
    margin-left: 20px;
    .icon{
      display: block;
      width: 44px;
      img{
        max-width: 100%;
      }
    }
    display: none;
  }
  &-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 8;
    display: none;
  }
  &.scrolled{
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
    .header-inner{
      height: 120px;
    }
  }
}

/*==========  Hover  ==========*/

@media (min-width: 991px){
  .header-inner .language:hover{
    .icon-arrow{
      transform: translateY(-50%) rotate(180deg);
    }
    ul{
      transform: none;
      opacity: 1;
      visibility: visible;
    }
  }
  .header-inner .language a:hover{
    color: $colorMain;
    //font-weight: 700;
  }
  .header-inner .nav .menu > li > a:hover{
    color: $colorMain;
    //font-weight: 700;
  }
  .header-inner .nav .menu-sub a:hover{
    color: $colorMain;
  }
  .header-inner .nav .menu > li.with-sub-menu:hover{
    .menu-toggle{
      transform: translateY(-50%) rotate(180deg);
    }
    .menu-sub{
      transform: none;
      opacity: 1;
      visibility: visible;
    }
  }
  .header-inner .search-autocomplete ul a:hover{
    color: $colorMain;
  }
}

/*==========  MEDIA QUERIES  ==========*/
@media (max-width: 1680px) {
  .header{
    &-inner{
      height: 120px;
      .logo{
        flex: 0 0 104px;
      }
      .nav{
        .menu > li > a{
          font-size: 16px;
        }
        .menu-sub a{
          font-size: 14px;
        }
      }
      .language{
        font-size: 16px;
        ul{
          padding: 42px 16px 16px 16px;
        }
      }
      .search{
        &-btn{
          .icon{
            width: 36px;
            height: 36px;
          }
        }
      }
    }
    &.scrolled .header-inner {
      height: 98px;
    }
  }
}

@media (max-width: 1368px) {
  .header{
    &-inner{
      .logo{
        flex: 0 0 90px;
      }
      .nav{
        .menu > li{
          margin-right: 24px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1199px){
  .header-inner{
    .logo{
      flex: 0 0 70px;
    }
    .nav .menu > li {
      margin-right: 18px;
    }
  }
}

@media (max-width: 1024px){
  .header{
    &-inner{
      height: 80px;
      .logo{
        flex: 0 0 48px;
        margin-right: auto;
      }
      .language{
        display: none;
      }
      .language-mob{
        display: block;
      }
      .search{
        &-btn{
          .icon{
            width: 44px;
            height: 44px;
          }
        }
      }
      .nav{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        margin: 0!important;
        background-color: #fff;
        width: 100%;
        max-width: 392px;
        padding: 110px 40px 80px 40px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        overflow-y: auto;
        z-index: 10;
        transform: translateX(100%);
        transition: all 0.34s ease-out;
        .menu {
          > li{
            display: block;
            margin-right: 0;
            margin-bottom: 16px;
            &:last-child{
              margin-bottom: 0;
            }
          }
          .menu-toggle{
            display: none!important;
          }
          .menu-sub{
            position: static;
            opacity: 1;
            visibility: visible;
            transform: none;
            box-shadow: none;
            padding: 16px 0 0 16px;
            ul{
              padding-top: 16px;
              padding-left: 16px;
            }
            li{
              margin-bottom: 16px;
            }
          }
        }
      }
    }
    &-hamburger{
      display: block;
      z-index: 12;
    }
    &.open-menu{
      .header-layer{
        display: block;
      }
      .header-inner .nav{
        transform: none;
      }
    }
    &.scrolled .header-inner {
      height: 70px;
    }
  }
}

//@media (max-width: 991px){}

//@media (max-width: 768px){}

@media (max-width: 575px) {
  .header{
    &-inner{
      height: 88px;
      .search.header-search-js{
        position: absolute;
        top: 50%;
        //transform: translateY(-50%);
        margin-top: -22px;
        right: 24px;
        width: calc(100% - 48px);
        z-index: 22;
        display: none;
        .search-btn{
          &:after{
            width: 100%;
            transition: 0s;
            transition-delay: 0s;
          }
          .color-fill{
            fill: #fff;
            transition: 0s;
            transition-delay: 0s;
          }
        }
        .search-input-wrapper{
          opacity: 1;
          visibility: visible;
          position: static;
          transform: none;
          width: 100%!important;
          height: 44px;
          transition: 0s;
        }
        .search-layer{
          z-index: -1;
        }
        &.active{
          display: flex;
        }
      }
      .logo{
        flex: 0 0 66px;
        z-index: 14;
      }
      .nav{
        max-width: 100%;
        padding: 105px 24px 40px 24px;
      }
      .language-mob{
        margin-bottom: 35px;
      }
    }
    &-search-mobile{
      display: block;
    }
    &-hamburger{
      margin-left: 26px;
    }
  }
}




