/*-------------------------------------------------------------------------------------------------------------------------------*/
/* GLOBAL SETTINGS */
/*-------------------------------------------------------------------------------------------------------------------------------*/

html {
	height: auto;
}

body {
	height: auto;
	overflow: visible;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* OTHERS STYLES */
/*-------------------------------------------------------------------------------------------------------------------------------*/

@import 'variables';

@import "form/form";
@import "transitions";
@import "other-elements";
@import "footer";
@import "popup";
@import "swipre";
@import "cross-browser";



