$roboto: "Roboto", sans-serif;

$color-primary: #585858;
$color-secondary: #1F1F1F;
$color-blue: #034EA2;
$color-dark-blue: #034EA2;
$color-dark-blue-2: #003775; 
$color-grey: #E1E1E1;
$color-grey-2: #F9F9F9;

$transition: all .2s ease;