/*preloader*/
#loader-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #fff;
  animation: loader 1s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@keyframes loader {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
    visibility: hidden;
    z-index: -10;
  }
}

@import 'm-fonts';
@import 'm-reset';
@import 'm-global';
@import 'm-typography';
@import 'm-header';
@import 'm-banner';
@import 'm-buttons';
@import 'm-form-elements';
@import 'm-colors';
@import 'm-swiper';