$mainFont: 'Akkurat', sans-serif;
$SecondaryFont: 'BigCaslonFb', sans-serif;

//color
$darkText: #00263e;
$lightText: #ffffff;
$greyText: #8a8a8d;
$greyText2: #707176;
$browText: #656263;
$lightBrow: rgba(204, 199, 182, 255);

$darkBlue: rgba(0,36,57,255);

$transition: all 0.32s ease-out; 
