/*==========  Form Style  ==========*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #222;
	opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #222;
	opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #222;
	opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #222;
	opacity: 1;
}

input, textarea, select {
	border-radius: 0;
	background: none;
	border: none;
	margin: 0;
	width: 100%;
	padding: 0;
}

textarea {
	display: block;
	resize: none;
	overflow: auto;
}

select::-ms-expand {
	display: none;
}

.invalid {
	border-color: red;
	color: red;
}

.input{
	height: 42px;
	padding: 0 16px;
	background-color: rgba(1, 1, 1, 0);
	margin-bottom: 15px;
	outline: none;
	background-color: #FAFAFA;
	border: 1px solid $borderColor;
	border-radius: 4px;
	transition: 0.1s;
	&:focus{
		box-shadow: 0px 0px 0px 1px $borderColor;
	}
	&::placeholder{
		font-size: 14px;
		color: $mainTextColor;
	}
}

textarea.input{
	padding: 10px 16px;
	height: 142px;
}

.form-group{
	.input{
		margin-bottom: 15px;
	}
	.btn{
		margin-top: 10px;
	}
}

.form-group.row{
	margin: 0 -8px;
	> div{
		padding: 0 8px;
	}
}



.form input:not([type=submit]):not([type=file])::placeholder {
	color: #4c4c4c;
	font-size: 16px;
}

.form input:not([type=submit]):not([type=file]):focus {
	border-color: #aaaaaa;
}

.form input:not([type=submit]):not([type=file]).error {
	background-color: rgba(246, 96, 92, 0.15);
	border: 1px solid #fbb6b4;
	color: rgba(246, 96, 92, 0.7);
}

form .btn {
	position: relative;
}

form .btn input[type=submit] {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	border: none;
	cursor: pointer;
	z-index: 1;
}


/*==========  Hover  ==========*/

// @media (min-width: 1200px)

/*==========  MEDIA QUERIES  ==========*/

// @media (max-width: 1368px)

// @media (max-width: 1199px)

@media (max-width: 991px){
	.form-group .btn{
		margin-top: 0;
	}
}

// @media (max-width: 768px)
            
// @media (max-width: 575px)

        

