//fonts

$mainFont: 'Roboto', sans-serif;

//color text
$mainTextColor: #4D4C49;
$darkTextColor: #201600;

$mainColor: #30B0AB;
$greyColor: #EBEBEB;
$borderColor: #E0E0E0;
$greyBG: #F5F5F5;


$transition: 0.36s;