/*-------------------------------------------------------------------------------------------------------------------------------*/
/* COLORS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.color-default{color: $color-default;}
.color-primary{color: $color-primary;}
.color-dark{color: $color-dark;}
.color-secondary{color: $color-secondary;}
.color-white{color: $color-white;}
.color-lighter{color: $color-lighter;}
.color-lighter2{color: $color-lighter2;}
.color-grey{color: $color-grey;}
.color-grey2{color: $color-grey2;}

.bg-grey {background-color: $bg-grey;}
.bg-secondary {background-color: $color-secondary;}