/*--------------------------------------------------------*/
/* ANIMATIONS: */
/*--------------------------------------------------------*/
.fade-top-anime {
  will-change: opacity,transform;
  backface-visibility: hidden;
  opacity: 0;
  transform: translateY(75px);
  transition: opacity 1.2s cubic-bezier(.37,.01,0,.98),transform 1s cubic-bezier(.37,.01,0,.98);
}

.animated {
  .fade-top-anime {
    opacity: 1;
    transform: none;
  }
}

.anime-delay1 {
  transition-delay: .3s;
}

.anime-delay2 {
  transition-delay: .6s;
}

.anime-delay3 {
  transition-delay: .9s;
}

.anime-delay4 {
  transition-delay: 1.2s;
}

.anime-delay5 {
  transition-delay: 1.5s;
}

.anime-delay6 {
  transition-delay: 1.8s;
}

.anime-delay7 {
  transition-delay: 2.1s;
}

.anime-delay8 {
  transition-delay: 2.4s;
}

.anime-delay9 {
  transition-delay: 2.7s;
}