/*--------------------------------------------------------------------------------------------------------------*/
/* 01 - RESET */
/*--------------------------------------------------------------------------------------------------------------*/
html{overflow-y: scroll;}
*, *:before, *:after{box-sizing: border-box}
*{margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-text-size-adjust:none;}
.clear{clear:both; overflow:hidden; height:0; font-size:0; display: block;}
html:not(.touch-screen)::-webkit-scrollbar,
html:not(.touch-screen) *::-webkit-scrollbar {width: 5px; height: 5px;}
html:not(.touch-screen)::-webkit-scrollbar-track,
html:not(.touch-screen) *::-webkit-scrollbar-track {background: $color-white;}
html:not(.touch-screen)::-webkit-scrollbar-thumb,
html:not(.touch-screen) *::-webkit-scrollbar-thumb {background: $color-secondary;}
:focus, :hover, :active, :visited{outline: none;}
button{background: none}