/*-------------------------------------------------------------------------------------------------------------------------------*/
/* seo text */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.seo-text{
  .wr-btn-show{
    margin-top: 20px;
  }
  .title{
  	margin-bottom: 20px;
  }
}


.seo-text-hidden{
  padding-top: 20px;
}

// @media (min-width: 1200px) {
//   html:not(.touch-screen) {

//   }
// }

// @media (max-width: 1199px){

// }

@media (max-width: 768px){
  .seo-text{
  	display: none;
  }
}



