:root {
  --white: #fff;
  --black: #000;
  --black-100: #191B1E;

  --gray-100: #1E2125;
  --gray-200: #242B35;
  --gray-300: #28303A;
  --gray-400: #2D363F;
  --gray-500: #707D9B;
  --gray-600: #838C9D;
  --gray-700: rgba(112, 125, 155, 0.7);
  --gray-7: #D9D9D9;

  --red: #FF2929;
  --green: #14E40F;
}
