@use '../config' as *;

/*==========  SIZE  ==========*/

/* Text size */
body, .text {
	@include font-size(12px, 1.4em);
	font-weight: var(--regular);
}
.text{
	&-md {
		@include font-size(12px, 1.4em);
	}
	&-sm {
		@include font-size(10px, 1.4em);
	}
	&-lg {
		@include font-size(14px, 1.4em);
	}
	&-xl {
		@include font-size(16px, 1.2em);
	}
}

h1, .h1 {
	@include font-size(32px, 1.2em);
}

.h1-2{
	@include font-size(36px, 1.2em);
}

h2, .h2 {
	@include font-size(28px, 1.2em);
}

h3, .h3 {
	@include font-size(24px, 1.2em);
}

h4, .h4 {
	@include font-size(20px, 1.2em);
}

h5, .h5 {
	@include font-size(16px, 1.4em);
}

h6, .h6 {
	@include font-size(14px, 1.4em);
}

/*==========  MEDIA QUERIES  ==========*/

// @media (max-width: 1368px)

// @media (max-width: 1199px){}

// @media (max-width: 991px)

@media (max-width: 768px){
	.text-xl {
		font-size: 12px;
	}

	.text-md_md {
		font-size: 12px;
	}
	.text-lg_md {
		font-size: 14px;
	}

	.h1, h1 {
		font-size: 20px;
	}
	.h2, h2 {
		font-size: 24px;
	}
	.h3-sm {
		font-size: 20px;
	}
	.h4-sm, .h4, h4 {
		font-size: 16px;
	}
	.h3_md{
		font-size: 24px;
	}

}

// @media (max-width: 575px)
